<head>


</head>

<h2> Please enter the Start and End time exactly how they appear in the Observtions Page URL.

<form action="/" method="post">
  Norad:<br>
  <input type="text" name="norad" value="">
  <br>
  Start:<br>
  <input type="text" name="start-time" value="">
  <br>
  End:<br>
  <input type="text" name="end-time" value="">
  <br>
  LINK:<br>
  <input type="text" name="descrip" value=""> Url to event's topic.
  <br><br>
  <input type="submit" value="Submit">
</form> 



<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
