<h3> New entries are at the end</h3>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table>
    <thead>
  <tr>
    <th>Start</th>
    <th>End</th> 
    <th>Noard</th>
    <th>ID</th>
    <th>LINK</th>
    <th>Processed?</th>
  </tr>
  </thead>
  {%for i in totalRequests%} 
  <tbody>
   <tr>
    <td>{{i[1]}}</td>
    <td>{{i[0]}}</td> 
    <td>{{i[2]}}</td>
    <td><a href="/view?request={{i[3]}}">{{i[3]}}</a></td>
    <td><a href="{{i[4]}}">{{i[4]}}</a></td>
    <td>{{status[i[3]]}}</td>
  </tr> 
    {%endfor%} 
    </tbody>
  
</table>