<head>
 <script src="https://cesiumjs.org/releases/1.53/Build/Cesium/Cesium.js"></script>
  <link href="https://cesiumjs.org/releases/1.53/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/CCapture.all.min.js"></script>


</head>

<style>
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
}


</style>

  <div id="cesiumContainer" style="width: 100%; height:100%"></div>
  <div id="overlay"><div><span id="credit"></span></div></div>
  <script>
    var timeElement = document.getElementById("credit");
    var timeNode = document.createTextNode("");
    timeElement.appendChild(timeNode)
    
    timeNode.nodeValue = "KD9KCK's Satnogs Map Replay"
    var capturer = new CCapture( { format: 'webm' } );
    
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwYmEwOTc5YS01N2I3LTRhYmQtOGE0MS1lNTkyMWU2ZmM3YWUiLCJpZCI6Njg1OCwic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTU0NzU5ODkxOX0.p4alNyuyt_Eufuo8xX_SB6HKHuSixBTxgiVpD6UGI3Y';
    var viewer = new Cesium.Viewer('cesiumContainer',{shadows:true,timeline:true,vrButton:false,homeButton:false,animation:true,baseLayerPicker:true});
    viewer.terrainProvider = Cesium.createWorldTerrain();
    viewer.scene.globe.shadows=Cesium.ShadowMode.CAST_ONLY
    viewer.scene.globe.enableLighting = true
    viewer.dataSources.add(Cesium.CzmlDataSource.load("{{ url }}"))
    viewer.clock.shouldAnimate = true
    viewer.clock.onStop.addEventListener(stop())
    
    var removeEvent;

    function start() {
	capturer = new CCapture( { format: 'webm', framerate: 15,quality: 70,display:true,verbose:false } );
	capturer.start();

	removeEvent = viewer.scene.postRender.addEventListener(function(){
        
        capturer.capture( viewer.scene.canvas );
	});
    viewer.shouldAnimate = true
    };

    function stop() {
	removeEvent();
	capturer.stop();
	capturer.save();
	capturer = undefined;
    viewer.shouldAnimate = false
    };	
    
   
    
    
    
    
  </script>
    <button type="button" onclick="start()">Start Recording</button>
    <button type="button" onclick="stop()">Stop Recording</button>

 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This visual work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> <a href="https://gitlab.com/chibill/satnogsmapreplay/tree/master">Source Code</a> is licensed under the MIT license.  Produced by William Gaylord KD9KCK 
